// Color variables ==========================
$black: #000;
$white: #fff;

$prime-bg: #223827;
$prime-head: #738d7a;
$prime-link: #67806d;
$prime-shdw: #002609;
$prime-brdr: #5c635e;
$prime-txt: #e7f4d7;

$sec-bg: #2c3929;
$inpt-bg: #67806d;

// font stack variables=========================

$rubik: "Rubik", "Open sans", sans-serif;
$o-sans: "Open sans", sans-serif;
