* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  background-color: #3c4935;
  color: #adad85;
}
a {
  font-family: "Open sans", sans-serif;
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Rubik", "Open sans", sans-serif;
}
