.contact-sect-box {
  background-color: rgba($sec-bg, 0.8);
  margin: 0 15px;
  padding: 15px 15px;
  border: 2px solid $prime-brdr;
  border-radius: 15px;
  box-shadow: 5px 5px 2.5px $prime-shdw;
  color: $prime-txt;
  .inpt {
    background-color: rgba($inpt-bg, 0.8);
    border: 3px inset $prime-brdr;
    border-radius: 7px;
    width: 100%;
    margin: 4px;
    color: $prime-txt;
    &-msg {
      height: 150px;
      max-height: 150px;
    }
  }
}
.user-name {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: auto;
  grid-template: "inpt-fname inpt-sname";
  gap: 2px;
}
address {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  a {
    margin-left: 5px;
    color: $prime-link;
  }
}
