.project-card-box {
  .project-card {
    height: 300px;
    margin: 25px 15px;
    text-align: center;
    border: 2px solid $prime-brdr;
    border-radius: 15px;
    background-color: $sec-bg;
    overflow: hidden;
    box-shadow: 5px 5px 2.5px $prime-shdw;
  }
}
.project-img {
  background-image: url(../imgs/proj-placeholder.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65%;
  position: relative;
}
.project-name {
  text-transform: uppercase;
  display: block;
  text-align: start;
  font-size: 32px;
  margin: 5px 5px 5px 5px;
}

.project-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 24px;
  margin: 5px 5px 5px 5px;
  text-transform: uppercase;
  a {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
